ul {
    border: 1px solid #999;
    display: inline-block;
    padding: 20px;
    list-style: none;
    width: 300px;
    cursor: pointer;
}

ul li .Left{
    display: flex;
    
}
ul li .Left .left{
    width: 20px;
    height: 20px;
    border: 1px solid #888;
    text-align: center;
    margin-right: 10px;
    background-color: rgb(228, 228, 228);
}
ul li .Left .left.one {
    border: 1px solid rgb(173, 11, 11);
    background-color: #f40;
}
ul li .Left .left.two {
    border: 1px solid rgb(6, 145, 13);
    background-color: rgb(0, 184, 0);
}
ul li .Left .left.fo {
    border: 1px solid rgb(151, 130, 7);
    background-color: rgb(245, 215, 46);
}
ul li {
    position: relative;
    padding: 5px;
    display: flex;
    width: 100%;
}
ul li .Right{
    position: absolute;
    right: 10px;
}