<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
</head>
<body>
    <div id="app">  
        <div v-for="(item, index) in arr" :_key="`${index}_1`">{{ item }}</div>
        <div v-for="(key, value) in obj">{{ key }}</div>

        <template v-for="(item, index) in arr">
           <div :key="`${index}_1`" :_key="`${index}_1`">{{ item }}</div>
           <div :key="`${index}_2`" :_key="`${index}_2`">{{ item }}</div>
        </template>

        <div v-for="item in 8">{{item}}</div>
        <div v-for="item in 'yuwei'">{{ item }}</div>
    </div>
    <script>
        const vue = new Vue({
            el : "#app",
            data : {
                arr : [1,2,3,4],
                obj : {
                    a : "A",
                    b : "B", 
                    c : "C"
                }
            }
        })
    </script>
</body>
</html>